<center>
<div class="mainpage">
  
  <h1> WELCOME TO THE WISDOM OF CROWDS CHALLENGE </h1>
  <br/><br/><br/>

	<p>Thank you for giving us your information. You will now be directed to a Domain Introduction Page. Each Domain has a set of 20 questions which is required to be answered. Further instructions will follow as you go along.</p>
  <br/><br/>
  <a href="/#/task/assign" class="btn btn-primary btn-lg shadow-z-2">
    <span class="glyphicon glyphicon-play"></span>
    Start!
  </a>
  </div>
</center>