<center>
<div class="mainpage">
  <h1>What is Wisdom of Crowds?</h1>
  <br/><br/>
  <p align="left">
  	The wisdom of the crowd is the collective opinion of a group of individuals rather than that of a single expert. A large group's aggregated answers to questions involving quantity estimation, general world knowledge, and spatial reasoning has generally been found to be as good as, and often better than, the answer given by any of the individuals within the group.
  </p>
  <p align="left">
	The term crowd, in this usage, refers to any group of people, such as a corporation, a group of researchers, or simply the entire general public. The group itself does not have to be cohesive.
  </p>
  <p align="left">
	Although classic wisdom-of-the-crowds findings center on point estimates of single continuous quantities, the phenomenon also scales up to higher-dimensional problems that do not lend themselves to aggregation methods such as taking the mean.
  </p>
  <br/><br/>
  <a href="/#/user/create" class="btn btn-primary btn-lg shadow-z-2">
    <span class="glyphicon glyphicon-play"></span>
    Start!
  </a>
  </div>
</center>